:root {
    --accent-color: #18cfab;
    --title-color: #fff;
    --section-title-color: #1c2a33;
}

.title-color {
    color: var(--title-color);
}

.accent-color {
    color: var(--accent-color);
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

.list-reset {
    padding-left: 0;
    list-style: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1170px;
}

/*FIRST__SECTION*/

.first__section {
    position: relative;
    height: 1120px;
    background-image: url(../picture/backgroundImg/section1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, .3);
}

/*navbar*/
.header {
    background-color: rgba(000, 000, 000, 0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--accent-color);
    padding: 10px 0;
}

.navbar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-logo-picture {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60px;
    height: 65px;
    background-color: var(--accent-color);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.navbar-logo-picture-letter {
    font-size: 40px;
    font-weight: 700;
}

.navbar-logo-picture-title {
    font-size: 32px;
    margin-left: 10px;
}

.navbar-logo-picture-title-span {
    font-size: 32px;
    font-weight: 700;
}

.navbar-menu {
    display: flex;
    align-items: center;
}

.navbar-menu-list {
    display: flex;
    position: relative;
}

.navbar-menu-list li {
    padding: 0 10px;
    text-transform: uppercase;
}

.navbar-menu-list li a {
    text-decoration: none;
    color: var(--accent-color);
    font-size: 16px;
    line-height: 24px;
}

.navbar-menu-list li a:hover {
    padding-bottom: 32px;
    border-bottom: 2px solid var(--accent-color);
}

.navbar-menu-search {
    margin-left: 20px;
}

/*title*/

.main-title {
    padding: 320px 0 0;
    text-align: center;
    color: var(--title-color);
}

.main-title-caption {
    font-size: 35px;
    font-weight: 700;
    line-height: 9px;
    text-transform: uppercase;
}

.main-title-header {
    padding: 20px 0 0;
    font-size: 79px;
    font-weight: 700;
    line-height: 84px;
    text-transform: uppercase;
}

.main-title-description {
    color: #d4d4d4;
    font-size: 34px;
    font-weight: 300;
    line-height: 84px;
}

/*buttons*/
.main-buttons {
    padding: 150px 0 0;
    text-align: center;
}

.btn-template {
    margin-right: 28px;
    border-radius: 4px;
    padding: 26px 32px 26px 32px;
    box-shadow: inset 0 4px #ffffff;
    border: none;
    outline: none;
    color: var(--title-color);
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

.main-button-left {
    background-color: var(--accent-color);
}

.main-button-right {
    background-color: #00cbf6;
}

/*BLOCKS__SECTION*/

.blocks__section {
    display: flex;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
}

.blocks-section-item {
    width: 100%;
    padding: 120px 0 95px;
}

.blocks-section-item img {
    height: 75px;
    margin-bottom: 10px;
    justify-content: center;
}

.blocks-section-item:nth-child(2n) {
    background-color: var(--accent-color);
}

.blocks-section-item:nth-child(2n + 1) {
    background-color: var(--section-title-color);
}

.blocks-section-item:nth-child(2n) p {
    color: var(--title-color);
}

.blocks-section-item:nth-child(2n + 1) p {
    color: var(--accent-color);
}

/*SERVICES__SECTION*/
/*title*/
.services__section {
    text-align: center;
    padding: 80px 0 100px;
}

.section-header {
    padding-bottom: 35px;
    color: #4e4e4e;
    font-size: 36px;
    line-height: 40px;
}

/*2 lines*/
.section-header-line {
    display: inline-block;
    margin-top: 35px;
}

.section-header-line-item {
    background-color: var(--accent-color);
    height: 1px;
    width: 76px;
}

.line-1 {
    transform: translateX(-10px);
}

.line-2 {
    margin-top: 5px;
    transform: translateX(10px);
}

/*tabs*/
.section-tabs {
    margin-top: 60px;
}

.tabs {
    display: flex;
}

.tabs .tab {
    display: flex;
    justify-content: center;
    font-size: 15px;
    background-color: #f8fcfe;
    padding: 27px 41px 30px;
    border: 1px solid rgb(236, 236, 236);
    cursor: pointer;
}

.section-tabs-content {
    padding-top: 35px;
}

.tab-content-img {
    float: left;
    margin-right: 20px;
}

.tab-content-img img {
    width: 180px;
    height: 160px;
}

.tab-content-text {
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    padding-right: 10px;
    text-align: justify;
}

.tab.active {
    position: relative;
    background-color: var(--accent-color);
    color: var(--title-color);
}

.tab.active:after {
    content: "";
    position: absolute;
    display: inline-block;
    border: 12px solid transparent;
    bottom: -23px;
    border-top: 12px solid #18cfab;
}

.section-tabs-content {
    padding-top: 10px;
    height: 200px;
}

.section-tabs-content .tab-content {
    display: none;
    padding-top: 15px;
}

.section-tabs-content .tab-content.active {
    display: block;
}

/*BUY__SECTION*/

.buy__section {
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.78)), url(../picture/backgroundImg/section2.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
}

.buy-section-content {
    padding: 125px 0;
}

.buy-section-title {
    color: var(--accent-color);
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
}

.buy-section-description {
    padding: 35px 0 80px;
    color: #d8d8d8;
    font-size: 16px;
    line-height: 40px;
}

.buy-section-button {
    background-color: var(--accent-color);
}

/*WORK__SECTION*/

.work__section {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: #f8fcfe;
}

.work-section-tabs {
    margin-top: 70px;
}

.work-section-tabs-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-section-tab-item {
    padding: 25px 30px;
    border: 1px solid rgb(236, 236, 236);
    text-transform: capitalize;
    cursor: pointer;
}

.work-section-tab-item-active {
    border-top: 2px var(--accent-color) solid;
    color: var(--accent-color);
}

/*picture*/

.work-image-item {
    display: none;
    position: relative;
}

.work-section-images-list {
    padding-top: 70px;
    padding-bottom: 90px;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

.work-section-image {
    width: 280px;
    height: 210px;
}

.work-section-image-hover {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 3px solid transparent;
    background-color: white;
    padding: 48px 0;
}

.work-section-image-hover .fa-link {
    background-color: white;
    border-radius: 50%;
    border: 1px solid #18cfab;
    color: #18cfab;
    padding: 11px 13px 13px 14px;
}

.work-section-image-hover .fa-search {
    background-color: #18cfab;
    border-radius: 50%;
    color: #ffffff;
    padding: 11px 13px 13px 14px;
}

.img-header {
    padding-top: 35px;
    padding-bottom: 18px;
    color: #18cfab;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.img-description {
    color: #8a8a8a;
    font-size: 12px;
    font-weight: 300;
    line-height: 24.87px;
    text-transform: capitalize;
}

.work-image-item:hover .work-section-image-hover {
    opacity: 1;
    border-top: 2px solid #18cfab;
    transition: all 0.2s;
}

.work-btn {
    background-color: var(--accent-color);
    color: var(--title-color);
    box-shadow: none;
}

.work-btn span {
    margin-left: 16px;
    font-size: 14px;
}

/*NEWS__SECTION*/

.news__section {
    text-align: center;
    padding: 100px 0;
}

.news-posts {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: center;
}

.news-post {
    margin-bottom: 50px;
    position: relative;
    border: 1px solid lightgray;
    background-color: #f8fcfe;
    cursor: pointer;
}

.news-post:hover .news-post-date {
    background-color: var(--accent-color);
}

.news-post:hover .news-post-title {
    color: var(--accent-color);
}

.news-post-date {
    padding: 10px 15px;
    background-color: #203e38;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    line-height: 25px;
    color: var(--title-color);
}

.news-post-description {
    padding: 15px 0 12px 0;
}

.news-post-title {
    margin-left: 10px;
    text-align: left;
    margin-bottom: 14px;
    color: #717171;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
}

.news-post-info {
    display: flex;
    text-align: left;
    margin-left: 10px;
    color: #777777;
    font-size: 14px;
    font-weight: 300;
}

.news-post-info p:first-child {
    padding-right: 10px;
}

.news-post-info p:last-child {
    border-left: 1px solid #bfc1c2;
    padding-left: 15px;
}

/*FEEDBACK__SECTION*/

.feedback__section {
    text-align: center;
    padding: 100px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../picture/backgroundImg/section3.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
}

.feedback-title-text {
    margin-bottom: 30px;
    color: var(--title-color);
    font-size: 36px;
    line-height: 40px;
    text-transform: capitalize;
}

.feedback-icon {
    margin-top: 40px;
}

.feedback-caption {
    margin-top: 40px;
}

.feedback-caption p {
    color: #bbbbbb;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 40px;
}

/*CAROUSEL*/
.carousel {
    max-width: 153px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.member-list {
    position: relative;
    width: 1160px;
}

.small-member-item.active {
    position: relative;
}

.member-item {
    float: left;
}

.member-item p:first-child {
    color: #18cfab;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.member-item p:nth-child(2) {
    color: #bbbbbb;
    font-size: 13px;
    font-weight: 300;
    line-height: 27px;
}

.member-item img {
    width: 120px;
    height: 120px;
    margin: 37px 15px;
    position: relative;
    border-radius: 50%;
    border: 3px solid #18cfab;
    box-shadow: 0px 0px 0px 9px rgba(3, 218, 164, 0.25);
}

.carousel-navigation {
    display: flex;
    justify-content: center;
}

.small-members-list {
    display: flex;
    justify-content: center;
}

.left-button,
.right-button {
    padding: 10px 1px;
    cursor: pointer;
}

.right-button i,
.left-button i {
    padding: 10px 1px;
    border: 1px solid rgb(188, 188, 188);
    color: rgb(188, 188, 188);
}

.left-button i:active,
.right-button i:active {
    background-color: #18cfab;
    color: white;
}

.small-members-list li {
    padding: 50px 1px;
    cursor: pointer;
}

.small-member-item img {
    border-radius: 50%;
    box-shadow: 0px 0px 0px 5px rgba(0, 204, 153, 0.25);
}

/*GALLERY__SECTION*/

.gallery__section {
    text-align: center;
    padding: 100px 0;
}

/*Masonry*/
.grid {
    margin: 50px auto;
}

.grid:after {
    content: "";
    display: block;
    clear: both;
}

.grid-sizer,
.grid-item {
    width: 33.333%;
    padding: 15px;
}

.grid-item {
    float: left;
    margin-bottom: 15px;
    display: none;
}

.grid-item img {
    display: block;
    max-width: 100%;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #18cfab;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(19px, 0);
    }
}

/*FOOTER*/
.footer {
    padding: 50px 0;
    text-align: center;
    background-color: #22353f;
}

.footer-text {
    color: #aeaeae;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
}

.footer-text span {
    color: var(--accent-color);
}